/* SEÇÃO: HABILIDADES */
.skills__title {
    font-size: 16px;
    letter-spacing: 10px;
    font-weight: 600px;
    text-transform: uppercase;
}

.skills__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skills__item img {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
}

.skills__item img:hover {
    transform: scale(1.1);
}